:root {
  --first-title-color: #212121;
  --title-color-text: #757575;
  --link-color: #2196f3;
  --main-white-color: #ffffff;
}
body {
  font-family: Roboto;
  color: #757575;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}
.header-conteiner {
  display: flex;
  align-items: center;
}

.footer-conteiner {
  /* align-items: center; */
  display: flex;
  align-items: baseline;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/*----------------- Header-----------------------*/

/*--------------STUDIO-Hiro-----------------*/

/*-----SDUDIO---advantages-- Приемущества----*/

/*------- SDUDIO---DO-----*/

/*--------  SDUDIO-----TEAM-----*/

/*---------Постоянные Клиенты ------- Partners-----*/

/*----------------portfolio hiro---------------*/

/*---------------portfolio----проекты--------------------*/

/*-----------------Footer---------------*/

/*-------------MODAL------------*/
